

.dts-title {
	color:#333;
	font-size: 26px;
	font-weight: 700; 
	font-family: black;
}

.dts-sm-title {
	color:#222;
	font-size:16px;
	font-weight:700;
	display:block;
	margin-top:20px;
	margin-bottom:10px;
}

.dts-big-img {
	width:800px;
	height:480px;
	object-fit:cover;
	margin-top:20px;
	border-radius:5px;
	border:1px solid #f2f2f2;
}

.dts-imgs-container img{
	width:80px;
	height:80px;
	border-radius:5px;
	border:1px solid #f2f2f2;
	object-fit:cover;
	cursor:pointer;
	margin-top: 3px;
}

.dts-p {
	width:80%;
	color:#585858;
}

.add-rv-btn {
	color:#222;
	font-weight:700;
	background: #fff;
	border:1px solid #616161;
	border-radius:8px;
	padding:3px 14px;
	display:block;
}

.review-box {
	margin-top:20px;
}

.review-box p {
	color:#585858;
}











